@{
    ViewData["Title"] = "Home Page";
}



<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Full Width Pics - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles1.css" rel="stylesheet" />
</head>
<body>
    <header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
        <div class="text-center my-5">
            <img class="img-fluid rounded-circle mb-4" src="Photo/spacetravel.jpg" alt="..." />
            <h1 class="text-white fs-3 fw-bolder">Welcome to the Spaceshop webpage</h1>
        </div>
    </header>
    <!-- Content section-->
    <section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h2>Space Travel</h2>
                    <p class="lead">One of the most daunting aspects of making science fictional aspirations real is the vast distances--and nearly insurmountable obstacles--between interesting space objects. Thank goodness for the fertile imaginations of sf writers, who can conquer all. Generational starships have been a staple of science fiction, from crazy metal rockets to hollowed out asteroids. Wormholes and space-bending tubes are always popular with the technology conquers all crowd. Even better; faster than light travel - which may be more honestly classified as fantasy than science fiction proper. Whatever the taxonomy, space is truly the final frontier, or the next frontier anyway. It's a great setting for some good old-fashioned storytelling.</p>
              
                </div>
            </div>
        </div>
    </section>
    <!-- Image element - set the background image for the header in the line below-->
    <div class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/4ulffa6qoKA/1200x800')">
        <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
        <div style="height: 20rem"></div>
    </div>
    <!-- Content section-->
    <section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h2>Ghosts of Mars</h2>
                    <p class="lead">Lars Caron had only taken over as mission commander because Pete Boardman had died. We were the most scanned, checked, and examined group of human beings in history--after all, on the first mission to Mars, you don't want someone falling ill or freaking out on the way--and Pete had checked out clearer than any of us. Then, seven days before departure, he went and died. The autopsy said his heart gave out, but I knew, from speaking to the doctors, that they could not find anything wrong with him. Dead, he presented as perfect a physical specimen as he had when alive. Me, I think he collapsed under the burden of hope that was placed upon him; mission commander, new world, new beginning. So, I grant Lars Caron had some big shoes to fill. But three months into the voyage, we were all getting thoroughly sick of the chip on his shoulder, the unspoken assumption that we had caused every problem laid in front of him. Space is like that: stuff happens. So, the slight sigh and the lowering of his head when he saw me approaching came as no surprise. "Now what's wrong?" he asked.
                </p>
                </div>
            </div>
        </div>
    </section>

   @*  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  *@
    <script src="js/scripts1.js"></script>
</body>


